/* $Colors

All Along #056480
Ardoise #0e556b
Loved #f4a8d0
Clear Sky #a8e0f4
Pale Turquoise #aee8e1

*/
/* $ Sections */
body {
	background: #fefefe;
	color: #222222;
	font: 400 16px/1.4 'Source Sans Pro', sans-serif;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	padding: 1px 0;
	text-align: left;
	width: 100%;
}
header,
section {
	box-sizing: border-box;
	margin: 3rem auto;
	max-width: 60rem;
	padding: 3rem 5rem;
}
section::after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
/* $ Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	text-align: left;
}
h1 {
	color: #111111;
	font: 400 6rem/1 'Dancing Script', cursive;
}
.name h1 {
	border-bottom: #f4a8d0 3px solid;
	display: inline-block;
	padding: 0 1rem;
	text-align: center;
	width: calc(100% - 15rem);
}
h2 {
	color: #222222;{
	font: 400 3rem/1 'Source Serif Pro', cursive;
}
h3,
h4,
h5,
h6 {
	font: 400 1rem/1 'Source Sans Pro', sans-serif;
}
h3 {
	font-size: 2rem;
	margin: 2rem 0;
	color: #333333;
}
h4 {
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	color: #444444;
}
h5 {
	font-size: 1.2rem;
	padding: 0;
	margin: 0;
	color: #555555;
}
section.wide h1,
section.wide h2,
section.wide h3,
section.wide h4 {
	text-align: center;
}
a {
	color: #056480;
	text-decoration: none;
}
a:active,
a:hover {
	color: #0e556b;
}
ul {
	list-style: square;
	padding-left: 1rem;
}
ul ul { margin-left: 1rem; }
ul.list-style-none {
	list-style: none;
	padding-left: 0;
}
ul.list-style-none i.fa {
	min-width: 1.2rem;
}
p,
.max-50 {
	max-width: 50rem;
	margin: 1rem 0;
}
blockquote {
	border-left: 3px solid #dddddd;
	margin-left: 0;
	padding: 1rem;
}
/* $ Blocks & Classes */
.face {
	background: url('../images/faces/circular-blue-small-compressed.png') repeat 50% 50%;
	background-size: 125%;
	box-shadow:
		0 2px 5px  0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	height: 11rem;
	margin: 0.5rem 2rem 0.5rem 0;
	width: 11rem;
}
img { max-width: 100%; }
img.third {
	margin: 0 3%;
	border-radius: 3px;
	max-width: 30%;
}
.italic { font-style: italic; }
.faded { opacity: 0.7; }
.subtitle { margin-top: 1rem; }
.float-left { float: left; }
.float-right { float: right; }
img.float-left { margin: 1rem 1rem 1rem 0; }
img.float-right { margin: 1rem 0 1rem 1rem; }
img.float-center { margin: 1rem auto; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.clear,
.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.tiny-break {
	clear: none;
	display: none;
}
.round { border-radius: 50%; }
.rounded { border-radius: 3px; }
.screenshot,
.box {
	border: #dddddd 3px solid;
	border-radius: 3px;
	margin: 1rem 0;
	max-width: calc(100% - 6px);
}
.coming-soon {
	margin: 1rem auto;
	padding: 1rem;
}
.coming-soon h3 {
	color: #cccccc;
	margin: 1rem 0;
	text-align: center;
}
.back-arrow {
	font-size: 2rem;
	margin: 1rem;
	position: fixed;
}
.header-img {
	max-height: 3rem;
}
/* $ Buttons */
.local-buttons,
.social-buttons,
.local-button,
.social-button {
	font-size: 32px;
	line-height: 2.25;
}
.local-button,
.social-button {
	background: #d34836;
	box-shadow:
		0 2px 5px  0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0;
	display: inline-block;
	border: none;
	cursor: pointer;
	color: #ffffff;
	margin: 0.5rem 1rem 0.5rem 0;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	text-align: center;
	text-rendering: optimizeLegibility;
	transition: all 150ms ease-in-out;
	vertical-align: middle;
}
.local-buttons img,
.local-buttons input,
.social-buttons img,
.social-buttons input {
	height: 38px;
	width: 38px;
	vertical-align: text-bottom;
}
.social-buttons button {
	border: 0;
	outline: 0;
	background: 0;
	display: inline-block;
}
.face:hover,
.local-button:hover,
.social-button:hover {
	color: #ffffff;
	opacity: 0.9;
}
.face:active,
.local-button:active,
.social-button:active {
	box-shadow: none;
	color: #ffffff;
}
.local-button i { color: #ffffff; }
.local-buttons + .local-button:last-child,
.social-buttons + .social-button:last-child { margin: 1rem 0 0; }
/* $ Social Buttons */
.social-button.fa-envelope { background: #f4a8d0; }
.social-button.fa-twitter { background: #55acee; }
.social-button.fa-google-plus { background: #dc4e41; }
.social-button.fa-stack-exchange { background: #fe7a15; }
.social-button.fa-github,
.social-button.fa-github-alt { background: #333333; }
.social-button.fa-lastfm { background: #d51007; }
.social-button.fa-spotify { background: #7ab800; }
.social-button.fa-amazon { background: #ff9900; }
.social-button.fa-paypal { background: #009cde; }
.social-buttons .twitter a { color: #55acee; }
.social-buttons .google-plus a { color: #dc4e41; }
.social-buttons .stack-exchange a { color: #fe7a15; }
.social-buttons .github a { color: #333333; }
.social-buttons .lastfm a { color: #d51007; }
.social-buttons .spotify a { color: #7ab800; }
.social-buttons .amazon a { color: #ff9900; }
.social-buttons .paypal button { color: #009cde; }
.pay { display: inline-block; }
/* $ Local Buttons */
/* Pink (Loved) */
.pink a { color: #f4a8d0; }
.pink .local-button,
.pink .backed { background: #f4a8d0; }
/* Red */
.red a { color: #c0392b; }
.red .local-button,
.red .backed { background: #c0392b; }
/* Orange */
.orange a { color: #d35400; }
.orange .local-button,
.orange .backed { background: #d35400; }
/* Yellow */
.yellow a { color: #f39c12; }
.yellow .local-button,
.yellow .backed { background: #f39c12; }
/* Green */
.green a { color: #27ae60; }
.green .local-button,
.green .backed { background: #27ae60; }
/* Turquoise */
.turquoise a { color: #16a085; }
.turquoise .local-button,
.turquoise .backed { background: #16a085; }
/* Blue */
.blue a { color: #2980b9; }
.blue .local-button,
.blue .backed { background: #2980b9; }
/* Purple */
.purple a { color: #8e44ad; }
.purple .local-button,
.purple .backed { background: #8e44ad; }
.button {
	background: #333333;
	box-shadow:
		0 2px 5px  0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #ffffff;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
}
.button.source { background: #6cc644; }
.button.view { background: #4183c4; }
.button:hover {
	color: #ffffff;
	opacity: 0.9;
}
.button:active {
	box-shadow: none;
	color: #ffffff;
}
/* $ Responsive */
section.wide { max-width: calc(100% - 10rem); }
@media only screen and ( min-width: 1280px ) {
	.large-half {
		display: inline-block;
		float: left;
		width: calc(50% - 1rem);
	}
	.large-half:last-child {
		float: right;
	}
}
@media only screen and ( max-width: 1279px ) {
	h1 { font-size: 5em; }
	header,
	section {
		padding: 2rem 3rem;
	}
	section.wide { max-width: calc(100% - 6rem); }
	.large-half { margin-bottom: 3rem; }
	.box .large-half { margin-bottom: 0; }
}
@media only screen and ( min-width: 768px ) {
	.columns-two-large { column-count: 2; }
	.medium-third {
		display: inline-block;
		float: left;
		width: calc(33% - 1rem);
		margin-right: 1rem;
	}
	.medium-half {
		display: inline-block;
		float: left;
		width: calc(50% - 1rem);
		margin-right: 1rem;
	}
	.medium-half:last-child {
		margin-right: 0;
	}
}
@media only screen and ( max-width: 767px ) {
	.face {
		float: none;
		margin: 1rem auto;
	}
	h1 { font-size: 4em; }
	h1,
	h2 {
		text-align: center;
	}
	.name h1 {
		padding: 0;
		width: 100%;
	}
	header,
	section {
		padding: 1rem;
	}
	section.wide { max-width: calc(100% - 2rem); }
	.tiny-break {
		clear: both;
		display: block;
	}
	.tiny-none { display: none; }
	.medium-third ul { margin: 0; }
}
